extends shared/main-shared.pug

block content
  .searchBarContainer
    input#searchBox(
      type="text",
      name="searchBox",
      data-search=selectedTab,
      placeholder="Search"
    )

  .tabsContainer
    +createTab("Posts", `/search/posts`, selectedTab === "users" ? false : true)
    +createTab("Users", `/search/users`, selectedTab === "users" ? true : false)

  .resultsContainer

  +createPostModals(loggedInUser)

block scripts
  script(src="/js/search.js")
