:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --hoverColor: #c5c1c1;
  --lightGreyBorder: #cecece;
  --spacing1remAll: 1rem;
  --lightBlack: #373737;
}

* {
  outline: none !important;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: var(--lightGreyBorder);
}

button i,
button span {
  pointer-events: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteColor);
}

nav a {
  padding: 0.8rem;
  font-size: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: var(--hoverColor);
  border-radius: 50%;
}

nav a i {
  color: var(--blackColor);
}

.mainSectionContainer {
  padding: 0;
  padding-left: 0.85rem;
  border-right: 1px solid var(--lightGreyBorder);
  border-top: 1px solid var(--lightGreyBorder);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing1remAll);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing1remAll);
  border-bottom: 7px solid #ececec;
  flex-shrink: 0;
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing1remAll);
}

.modal .post {
  padding: 0 0 1rem 0;
}

.userPhotoContainer {
  width: 50px;
  height: 50px;
}

.userPhotoContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: var(--whiteColor);
}

.textareaContainer {
  flex: 1;
  padding: var(--spacing1remAll);
}

.textareaContainer textarea {
  background-color: #dedede;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--lightBlack);
  color: var(--whiteColor);
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: #dedede;
}

.postsContainer {
  overflow-y: scroll;
  max-height: 400px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing1remAll);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGreyBorder);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: var(--spacing1remAll);
}

.displayName {
  font-weight: bold;
}

.postUsername,
.postDate {
  color: var(--lightBlack);
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
}

.showUnderline:hover {
  text-decoration: underline;
}

.postUsername,
.postDate {
  padding-left: 5px;
}

.postButtonContainer button:hover {
  background-color: #c1c1c1;
  color: var(--lightBlack);
  border-radius: 50%;
}

.postButtonContainer.blue button.hasAliened {
  color: #2549ec;
}

.postButtonContainer.orange button.hasBumped {
  color: #f37c0d;
}

.additionalContainer {
  padding-left: 35px;
  font-size: 0.8rem;
  color: #a3a2a2;
  margin-bottom: 5px;
}

.isReply {
  margin-bottom: 0.2rem;
}

.isReply a {
  color: #a3a2a2;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 1.5rem;
}

.profileHeaderContainer .coverPhotoContainer {
  height: 160px;
  background-color: var(--hoverColor);
}

.coverPhotoContainer {
  position: relative;
}

.profileHeaderContainer .userPhotoContainer {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing1remAll);
  position: absolute;
  bottom: -35px;
}

.profileHeaderContainer .userPhotoContainer img {
  border: 2px solid var(--blackColor);
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: center;
  padding: var(--spacing1remAll);
  min-height: 66px;
}

.profileButton,
.followButton {
  border: 1px solid var(--lightBlack);
  color: var(--lightBlack);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing1remAll);
}

.profileButton:hover,
.followButton:hover {
  background-color: #a3a2a2;
}

.followButton.following {
  background-color: var(--lightBlack);
  color: var(--hoverColor);
}

.username,
.followersContainer {
  text-align: right;
  padding-right: var(--spacing1remAll);
}

.username {
  font-weight: 800;
  font-size: 1.5rem;
}

.followersInfo {
  margin-left: 5px;
}

.followersContainer .followersInfo:hover,
.followersContainer .followingInfo:hover {
  color: #a3a2a2;
  border-bottom: 1px solid #a3a2a2;
}

.value {
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.txt {
  color: #a3a2a2;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGreyBorder);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightBlack);
  font-weight: bold;
}

.tab.active {
  color: var(--blackColor);
  border-bottom: 2px solid var(--blackColor);
}

.tab:hover {
  color: var(--blackColor);
  background-color: var(--lightGreyBorder);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer .user {
  padding: var(--spacing1remAll);
  display: flex;
  border-bottom: 1px solid var(--lightGreyBorder);
}

.user .userDetailsContainer {
  padding: 0 var(--spacing1remAll);
}
