:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --hoverColor: #c5c1c1;
  --lightGreyBorder: #cecece;
  --spacing1remAll: 1rem;
  --lightBlack: #373737;
}

* {
  outline: none !important;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: var(--whiteColor);
  font-weight: 300;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: var(--lightGreyBorder);
}

button i,
button span {
  pointer-events: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteColor);
}

nav a {
  padding: 0.8rem;
  font-size: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav a:hover {
  background-color: var(--hoverColor);
  border-radius: 50%;
}

nav a i {
  color: var(--blackColor);
}

.wrapper {
  overflow-x: hidden;
}

.mainSectionContainer {
  padding: 0;
  padding-left: 0.85rem;
  border-right: 1px solid var(--lightGreyBorder);
  border-top: 1px solid var(--lightGreyBorder);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing1remAll);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing1remAll);
  border-bottom: 7px solid #ececec;
  flex-shrink: 0;
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing1remAll);
}

.modal .post {
  padding: 0 0 1rem 0;
}

.userPhotoContainer {
  width: 50px;
  height: 50px;
}

.userPhotoContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: var(--whiteColor);
}

.textareaContainer {
  flex: 1;
  padding: var(--spacing1remAll);
}

.textareaContainer textarea {
  background-color: #dedede;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--lightBlack);
  color: var(--whiteColor);
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPostButton:disabled {
  background-color: #dedede;
}

.postsContainer {
  overflow-y: scroll;
  max-height: 400px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing1remAll);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGreyBorder);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: var(--spacing1remAll);
}

.displayName {
  font-weight: bold;
}

.postUsername,
.postDate {
  color: var(--lightBlack);
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
}

.showUnderline:hover {
  text-decoration: underline;
}

.postUsername,
.postDate {
  padding-left: 5px;
}

.postButtonContainer button:hover {
  background-color: #c1c1c1;
  color: var(--lightBlack);
  border-radius: 50%;
}

.postButtonContainer.blue button.hasAliened {
  color: #2549ec;
}

.postButtonContainer.orange button.hasBumped {
  color: #f37c0d;
}

.additionalContainer {
  padding-left: 35px;
  font-size: 0.8rem;
  color: #a3a2a2;
  margin-bottom: 5px;
}

.isReply {
  margin-bottom: 0.2rem;
}

.isReply a {
  color: #a3a2a2;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 1.5rem;
}

.profileHeaderContainer .coverPhotoSection {
  height: 160px;
  background-color: var(--hoverColor);
}

.coverPhotoSection {
  position: relative;
}

.profileHeaderContainer .userPhotoContainer {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing1remAll);
  position: absolute;
  bottom: -35px;
}

.profileHeaderContainer .userPhotoContainer img {
  border: 2px solid var(--blackColor);
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: center;
  padding: var(--spacing1remAll);
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileButton,
.followButton {
  border: 1px solid var(--lightBlack);
  color: var(--lightBlack);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing1remAll);
}

.profileButton:hover,
.followButton:hover {
  background-color: #a3a2a2;
}

.followButton.following {
  background-color: var(--lightBlack);
  color: var(--hoverColor);
}

.username,
.followersContainer {
  text-align: right;
  padding-right: var(--spacing1remAll);
}

.username {
  font-weight: 800;
  font-size: 1.5rem;
}

.followersInfo {
  margin-left: 5px;
}

.followersContainer .followersInfo:hover,
.followersContainer .followingInfo:hover {
  color: #a3a2a2;
  border-bottom: 1px solid #a3a2a2;
}

.value {
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.txt {
  color: #a3a2a2;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGreyBorder);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightBlack);
  font-weight: bold;
}

.tab.active {
  color: var(--blackColor);
  border-bottom: 2px solid var(--blackColor);
}

.tab:hover {
  color: var(--blackColor);
  background-color: var(--lightGreyBorder);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer2 {
  display: flex;
  margin-top: 10px;
}

.resultsContainer .user {
  padding: var(--spacing1remAll);
  display: flex;
  border-bottom: 1px solid var(--lightGreyBorder);
}

.user .userDetailsContainer {
  padding: 0 var(--spacing1remAll);
}

.profilePhotoButton {
  position: absolute;
  font-size: 50px;
  color: var(--lightGreyBorder);
  left: 35px;
  top: 20px;
  display: none;
}

.coverPhotoButton {
  font-size: 50px;
  color: var(--lightGreyBorder);
  display: none;
}

.coverPhotoContainer {
  width: 100%;
  height: 100%;
}

.coverPhotoContainer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverPhotoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userPhotoContainer:hover .profilePhotoButton,
.coverPhotoContainer:hover .coverPhotoButton {
  display: block;
}

#imagePreview,
#coverPreview {
  display: block;
  max-width: 100%;
}

.pinnedButton.active {
  color: var(--blackColor);
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 0 30px 0;
}

#searchBox {
  padding: 10px;
  flex: 0.5;
  border: none;
  border-radius: 20px;
  background-color: var(--whiteColor);
  box-shadow: 2px 2px 10px 10px var(--blackColor);
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chatTitleBar {
  border-bottom: 1px solid var(--lightGreyBorder);
  display: flex;
  min-height: 60px;
  padding: 10px;
}

.chatTitleBar label {
  margin-right: 10px;
}

#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200;
  min-width: 350px;
}

#createChatButton {
  border: none;
  background-color: var(--lightBlack);
  color: var(--hoverColor);
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
}

#createChatButton:disabled {
  background-color: #dedede;
}

.selectedUser {
  font-weight: 300;
  background-color: var(--hoverColor);
  color: var(--lightBlack);
  padding: 5px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--lightGreyBorder);
}

.resultListItem:hover {
  background-color: #f2f2f2;
}

.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsDetailsContainer span {
  margin-left: 20px;
}

.resultsDetailsContainer .heading {
  font-weight: 500;
}

.resultsDetailsContainer .subtext {
  color: var(--hoverColor);
  font-size: 0.9rem;
}

.resultListItem img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.resultsImageContainer img {
  height: 40px;
  width: 40px;
}

.groupChatImage img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 2px solid var(--whiteColor);
}

.groupChatImage img:first-of-type {
  top: 0;
  right: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatTitleContainer {
  border-bottom: 1px solid var(--lightGreyBorder);
  display: flex;
  align-items: center;
  padding: var(--spacing1remAll);
}

#chatName {
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 600px;
}

.chatContainer .messages {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--spacing1remAll);
  overflow-y: auto;
}

.chatContainer .footer {
  display: flex;
  padding: var(--spacing1remAll);
  flex-shrink: 0px;
}

.chatContainer .footer textarea {
  flex: 1;
  resize: none;
  background-color: #dedede;
  border-radius: 18px;
  border: none;
  padding: 12px 12px;
  height: 3rem;
  overflow: hidden;
}

.chatContainer .footer button {
  background-color: transparent;
  color: var(--blackColor);
  font-size: 1.5rem;
}

.chatImagesContainer {
  display: flex;
  flex-direction: row-reverse;
  min-width: 50%;
  flex-wrap: wrap;
  height: 100%;
  margin-right: 10px;
}

.chatImagesContainer img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: -10px;
}

#chatNameInput {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: var(--whiteColor);
  box-shadow: 2px 2px 10px 10px var(--blackColor);
}

.messages .message {
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  margin-top: 30px;
}

.messages .message .messageContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.messages .message .messageBody {
  background-color: var(--lightGreyBorder);
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 0.9rem;
}

.messages .message.myMessage {
  flex-direction: row-reverse;
}

.messages .message.myMessage .messageBody {
  background-color: var(--blackColor);
  color: var(--lightGreyBorder);
}

.messageTime {
  color: #8f8a8a;
  font-size: 0.8rem;
}

.messageAuthor {
  margin: 0 5px;
  font-size: 0.8rem;
  color: #8f8a8a;
  margin-bottom: -20px;
}

.messageAuthor img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--lightGreyBorder);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typingGif {
  padding: 0 var(--spacing1remAll);
  margin-bottom: -10px;
  display: none;
}

.gifWrapper {
  display: flex;
  justify-content: flex-end;
}

.typingGif img {
  height: 35px;
}

#usernameP {
  font-size: 0.8rem;
  color: var(--hoverColor);
}

.notification.active {
  background-color: var(--lightGreyBorder);
}

.notification * {
  pointer-events: none;
}

#notificationsBadge,
#messagesBadge {
  background-color: var(--lightGreyBorder);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#notificationsBadge.active,
#messagesBadge.active {
  visibility: visible;
}

.unread {
  font-weight: 800;
}
